.task-paper {
    flex-shrink: 0;
    height: 4rem;
    width: 90%;
    margin-bottom: 1rem;
    
    border-radius: 8px !important;
    background-color: rgba($color: #fff, $alpha: 0.7) !important;
}